body{

padding: 0;
margin: 0;
background-color: black;

}


/*

.fixarRodape {
    bottom: 0;
    position: fixed;
    width: 80%;
    text-align: center;
    color: white;
  
}

*/




div hr{

color: red;

}

nav{

    background-color: rgba(0, 0, 0, 0.062);
    
}



.nav-item a{
   color: rgb(243, 28, 28);
   text-decoration: none;
   margin: 10px;
   text-shadow: 0 0 8px red;
   filter: brightness(200%) drop-shadow(2px 2px  2px red);
    

}

.nav-item a:hover{
   color:red;
   text-decoration: none;
   transform: scale(1.1);
   transition: 0.5s;

}



.nav-item:active{
    color:red;
    text-decoration: none;
    transform: scale(1.1);
    transition: 0.5s;
 
}

.img-logo{

    width: 60px;
    filter: brightness(200%) drop-shadow(2px 2px  5px red);
}

.img-logo:hover{
transform: scale(1.1);
transition: 0.5s;
    
}






.collapse{

    justify-content: end;

}




/* video background responsivo */
.back-video{
   
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
    z-index: -1;
    opacity: 0.95;
    
    }

 section {

     width: 100%;
     justify-content: center;
     text-align: center;
     text-shadow: 0 0 5px white;
     padding-top: 50px;

    }

    section h1{
        color: aliceblue;
        text-transform: uppercase;
        font-size: 3em;
        letter-spacing: 5px;
        padding-bottom: 40px;
        overflow: hidden;
        

       
        
    }

    section p {
        color: white;
        padding-bottom: 10px;

        

        
    }

  



    